
/* スマホ用（画面サイズ450px以下） */

@media screen and (max-width:450px) {
    body {
        font-size: 13px;
    }
    .logo {
        width: 200px;
        float: none;
    }
    .nav {
        display: none;
    }
    .wrapper {
        width: auto;
        padding: 0 10px;
    }
    .main {
        width: auto;
        padding: 0;
        border: none;
    }
    .side {
        width: auto;
    }
    .main,
    .side {
        float: none;
    }
}
