@charset "UTF-8";
body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 1.618;
    background: #eee;
}

.header {
    text-align: center;
    padding: 0.5em 0.5em 0.5em 0.5em;
    background: #150D0F;
    height: 40px;
}

.logo {
    width: 400px;
    font: 22px "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #eee;
}

.footer {
    color: #ccc;
    text-align: center;
    margin-top: 2em;
    padding: 1em 0;
    background: #150D0F;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
    /* 左右に[auto]を指定することで、真ん中に寄る */
    padding: 0;
    /* 上下左右の余白を0にしておく */
}

.main {
    width: 618px;
    padding: 20px;
}

.side {
    width: 320px;
}

.main {
    float: left;
}

.side {
    float: right;
}

.wrapper {
    overflow: hidden;
}


/* スマホ用CSS */

@media screen and (max-width:479px) {
    body {
        font-size: 13px;
    }
}

@media screen and (max-width:479px) {
    .logo {
        width: 200px;
    }
}

@media screen and (max-width:479px) {
    .wrapper {
        width: auto;
        padding: 0 10px;
    }
}

@media screen and (max-width:479px) {
    .main {
        width: auto;
        padding: 0;
        border: none;
    }
    .side {
        width: auto;
    }
}

@media screen and (max-width:479px) {
    .main,
    .side {
        float: none;
    }
}
